@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 1em;
    margin-top: 0;
    font-family: "Encode Sans Semi Expanded", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5em;
    
}

#wrapper{
    max-width: 1200px;
    margin:0 auto;
    position: relative;
}


/* ******************TYPOGRAPHY***************** */

.searchPrograms h2{
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 0.95em;
    color: #0033A1;
}

.searchPrograms p{
    font-weight: 200;
    font-size: 0.85rem;
    margin-bottom: 0.5em;
}

.news h2, .events h2{
    margin-top: 1.65em;
    font-weight: 800;
    font-size: 2rem;
    color: #0033A1;
}

article{
    margin-top: 1.5em;
    padding-bottom: 1em;
    border-bottom: solid 1.55px #0033A1;
    border-radius: 2px;
    
}

.news article h2{
    margin-top: 0.5em;
    font-weight: 600;
    font-size: 1.15rem;
    color: black;
    line-height: 1.20em;
}

.news article h3, a{
    margin-top: 0.35em;
    font-weight: 200;
    font-size: 0.95rem;
}

article p{
    margin-top: 0.5em;
    font-size:1rem ;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

article a{
    text-decoration: none;
    color:#0033A1;
}
article a:hover{
    color: #FFB71B;
}
/* *************************EVENTS*************** */

.events article h2{
    margin-top: 0.25em;
}
.events a{
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.events article{
    border-bottom: none;
}
strong{
    font-weight: 600;
}
.events img{
    width: 100%;
}


footer{
    margin-top: 3em;
    padding: 1em;
    font-size: 0.75rem;
    font-weight: 100;
}

/* ******************************************************pages */
.category h2{
    font-size: 2.5rem;
    font-weight: 800;
    padding: 1em 0em;
    padding-bottom: 0.75em;
    margin-top: 0.5em;
    color: #0033A1;
}

/* *************************************************HEADER******************************* */
header{
    display: flex;
    justify-content: space-between;
    background-color: #0033A1;
    padding: 1em 0.5em;
    padding-top: 1.5em;
}
#logo {
    width:250px;
    margin-left: 0.5em;

}
.menu{
    margin-right: 0.5em;
}
#topMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    padding: 1em 0.75em;
    border: solid 1px black;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;
    background-color: #FFB71B;
}


#topMenu a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

#topMenu a:hover{
    color: #0033A1;
}

#topMenu li{
    padding: 0.5em;
    padding-right: 0.75em ;
    border-bottom: solid 1px white;
    border-radius: 2px;
}

form{
    padding: 0.5em 0.25em;
    padding-top: 0.75em;
}


/* **************************DROPDOWN MENU**************** */

.programNav li{
    background-color: #FFB71B;
    border-radius: 5px;
    margin-bottom: 1em;
}

.programNav li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75em;
    font-weight: 600;
    font-size: 1.15rem;
}

.material-symbols-outlined{
    float: right;
}

.dropdown{
    display: none;
    background-color: white;
    border-radius: 3px;
   
 
}
.programNav li:hover .dropdown{
    display: block;
}
.programNav .dropdown li{
    background-color: transparent;
    margin-bottom: 0;
}

.programNav .dropdown a{
    padding: 0.75em;
    color: #0033A1;
    border-bottom: solid 2px #FFB71B;
    border-radius: 3px;
    font-weight: 300;
    font-size: 1.10rem;
    
}
.programNav .dropdown a:hover{
    background-color: #0033A1;
    color: white;
}


/* *****************************BANNER ******************* */
.banner{
    padding-top: 3em;
    padding: 2em;
    background: 
    radial-gradient(circle, rgba(0,51,161,0.14008936093968838) 0%, rgba(0,51,161,0.6302854393710609) 100%),
     url(images/queenscollege.jpg) no-repeat top center/ cover;
    height: 200px;
    
   
}
.banner h3 a{
    font-size: 1.45rem;
    line-height: 1.35em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.banner h3 {
    padding-top: 1em;
    text-align: center;
}

.banner .btn{
    position: relative;
    left: 125px;
    top: 30px;
    background-color: #FFB71B;
    border: solid 2px black;
    padding: 0.35em 2em;
    border-radius: 80px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
/* ***************************************************CARDS************************************8 */
.programCards a{
    /* display: flex; */
    margin-top: 1em;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: solid 0.25px #fbf2de;
    background-color: #F8F9FF;
   
}


.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 0;
    margin-top: 0;
}

.cardBody{
    display: block;
    padding: 0.75em 1.25em;
}
.cardBody h2{
    font-size: 1.15rem;
    font-weight: 700;
    color: #FFB71B;
    margin-bottom: 0.15em;
    margin-top: 0;
    padding: 0;
}
.cardBody h3{
    letter-spacing: 1.5px;
    color: #0033A1;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.72rem;
    line-height: 1.5em;
}
.card h4{
    margin-left: 80%;
    margin-right:2% ;
    /* margin-top:1em; */
    font-weight: 200;
    text-align: center;
    font-size: 0.95rem;
    background-color: #0033A1;
    border-radius: 3px;
    padding: 0.45em;
    color: white;
    margin-bottom: 0.75em;
}
.cardBody p{
    font-size: 1.05rem;
    font-weight: 300;
}









/* ***************************************************** TABLET RESPONSIVE ***************************/

@media (min-width:768px){
/* ***********************************MENU****************** */
 header{
    padding-top: 3em;
    padding-bottom: 1em;
 }

    .menu{
        display: none;
    }
   
    #topMenu{
        display: flex;
        border: none;
        position: static;
        align-self: center;
        border: none;
        padding: 0;
        background-color: transparent;
    }

    #topMenu a{
        font-size: 0.85rem;
    }

    #topMenu ul{
        display: flex;
        padding: 0;  
    }

    #topMenu li{
        border: none;
        margin-right: 0.5em;
        padding: 0;
        
    }
     
 form{
    margin-right: 0.75em;
    padding-left: 0;
    padding: 0;
 }

    
   
/* **********************************************dropdown menu***********************88 */
    .searchPrograms{
        padding: 1em;
        padding-bottom: 3em;
        background: linear-gradient(180deg, #F4F6FF 0%, rgba(147, 147, 153, 0.00) 100%);
    }

    .programNav ul{
        display: flex;
        justify-content: space-between;
    }
    .programNav ul li{
        width: 32%;
        position: relative;  

    }
    .programNav .dropdown{
        display: none;
    }
    
    .dropdown{
        flex-direction: column;
        position: absolute;
        width: 100%;
    }

    .programNav .dropdown li{
        width: 100%;
    }
    /* ********************************BANNER**********8 */
    .banner{
        background:
        linear-gradient(270deg, rgba(0, 51, 161, 0.00) 19.37%, #0033A1 49.87%),
         url(images/queenscollege.jpg) no-repeat top right/ contain;
         height: 280px;
    }
 

    .banner h3 {
        width: 40%;
        padding-top: 5em;
        text-align: left;
        
    }
    
    .banner .btn{
        position: relative;
        left:120px;
        top: 30px;
    }
    
/* ******************************* MAIN COLUMNS*****************************88 */
    main.home{
        display: grid;
        grid-template-columns:2fr 1fr;
        column-gap: 1.5em;

    }
    .news article{
        background-color:#f8f9ff;
        padding: 0.5em;
        border-radius: 4px;
        border-right: #FFB71B solid 1.55px;
    }



/* **************************************************CARDS**************8 */
.programCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-gap:1.25em;
    grid-auto-rows: 200;
    margin-left: 0.5em;
}
.programCards a:hover{
    background-color: #fbf3e1f5;
    border-color:transparent;
    box-shadow: 4px 4px 4px 2px rgba(200, 204, 220, 0.465);
    
}
.programCards a{
    transition-property: box-shadow, transform;
    transition-duration: 0.5s;
}
.programCards a:hover{
    transform: scale(1.10);
}
}   /* end of the media query */