@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 1em;
    font-family: "Encode Sans Semi Expanded", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5em;
    
}

h2, h3, p {
    margin-bottom: 1em;
}

#wrapper{
    max-width: 1200px;
    margin:0 auto;
    position: relative;
}

/* ******************TYPOGRAPHY***************** */
.searchPrograms h2{
    margin-top: 1.5em;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
}

.searchPrograms p{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0.5em;
}



/* *************************HEADER******************************* */
header{
    display: flex;
    justify-content: space-between;
    background-color: #0033A1;
}
#logo { 
    padding-top: 1em;
    width: 150px;
    margin-left: 0.5em;
    margin-top: 0;

}
.menu{
    margin-right: 0.5em;
}
#topMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0.25em;
    border: solid 1px black;
    background-color: white;
}

/* **************************DROPDOWN MENU**************** */

.programNav li{
    background-color: #FFB71B;
    border-radius: 5px;
    margin-bottom: 1em;
}

.programNav li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75em;
    font-weight: 500;
    font-size: 1.15rem;
}

.material-symbols-outlined{
    float: right;
}

.dropdown{
    display: none;
    background-color: white;
}
.programNav .dropdown li{
    background-color: transparent;
    margin-bottom: 0;

}
.programNav .dropdown a{
    padding: 0.75em;
    color: #0033A1;
    border-bottom: solid 2px #FFB71B;
    border-radius: 3px;
    font-weight: 300;
    font-size: 1rem;
    
}
.programNav .dropdown a:hover{
    background-color: #0033A1;
    color: white;
}


/* *****************************BANNER ******************* */
.banner{
    margin-top: 6em;
    padding: 2em;
    background: url(images/queenscollege.jpg) no-repeat center left/ cover;
    flex-shrink: 0;
   
}
.banner h3{
    background-color:rgba(0, 51, 161, 0.57);
    padding-top: 1em;
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 600;
    text-align: center;
}

.banner h3 a{
    color: white;
    text-decoration: none;

}

.btn{
    background-color: #FFB71B;
    padding: 0.75em;
    border-radius: 6px;
    font-size: 1rem;
    
    
}

/* .btn:hover {
    background-color: #AF516B;
} */